﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<p>Contact us if you have any questions we can address</p>

<address>
    <strong>Support:</strong>   <a href="mailto:fb26288@seeu.edu.mk">fb26288@seeu.edu.mk</a><br />
    <strong>Marketing:</strong> <a href="mailto:fb26288@seeu.edu.mk">fb26288@seeu.edu.mk</a>
</address>