﻿@model LeagueOfLegendsUsernameSubmitter.Models.Comment

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.commentDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.commentDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.commentAuthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.commentAuthor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.commentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
